<div class="chat-container">
  <div id="chat" class="messages-container">
  </div>

  <div class="chat-input-container">
    <textarea id="message-text"></textarea>

    <button id="send-message" class="btn btn-primary">
      Send message
    </button>
  </div>
</div>
