@import "~bootstrap/scss/bootstrap";

body {
  background-color: white;
}

.navbar-nav {
  flex-direction: row;
}

.chat-container {
  margin-top: 20px;

  .messages-container {
    border: 1px solid gray;
    height: calc(100vh - 300px);
    overflow: auto;
    padding: 8px;

    :not(:first-child) {
      margin-top: 8px;
    }

    .message {
      border: 1px solid black;
      border-radius: 4px;
      font-size: 1rem;
      min-height: 40px;
      padding: 4px;
      width: 400px;
    }
  }

  .chat-input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;

    :not(:first-child) {
      margin-left: 8px;
    }

    textarea {
      border-radius: 4px;
      font-size: 1rem;
    }
  }
}

