<header>
  <nav class="navbar navbar-dark bg-dark px-3 justify-space-between">
    <%= link_to "ActionCable Chat", root_path, class: 'navbar-brand' %>

    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: 'DELETE', class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
        </li>

        <li class="nav-item ms-4">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
