<!DOCTYPE html>
<html>
  <head>
    <title>ActionCable Chat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <%= render partial: 'layouts/header' %>

  <body>
    <% if notice.present? %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-danger"><%= alert %></div>
    <% end %>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
